In [ ]:

#intall mysql connector
!pip install mysql-connector-python

#import mysql connector
import mysql.connector

#connect with server
mydb = mysql.connector.connect(
 host="localhost",
 user="root",
 password="",


)

print(mydb)
mycursor = mydb.cursor(buffered=True)
#create table
mycursor.execute("create table database_name.table_name(id int AUTO_INCREMENT PRIMARY KEY,route_name varchar(255),route_link text,busname varchar(255),bustype varchar(100),departing_time time,duration varchar(50),reaching_time time,star_rating float,price decimal(5,2),seats_available int)")

#import pandas for dataframe
import pandas as pd


# Load the CSV data into a pandas DataFrame
csv_path=r"file name"
df=pd.read_csv(csv_path)

#drop null values 
df.dropna(inplace=True)

 # SQL query to insert data
insert_data = """
        INSERT INTO database_name.table_name (
            route_name, route_link, busname, bustype, 
            departing_time, duration, reaching_time, 
            star_rating, price, seats_available
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """

# Inserting each bus data record into the table
for index,row in df.iterrows():
            mycursor.execute(insert_data, (
                row['Route Name'], row['Route Link'], row['Bus Name'], 
                row['Bus Type'], row['Departing Time'], row['Duration'], 
                row['Reaching Time'], row['Star Rating'], row['Price'], 
                row['Seats Available']
            ))
mydb.commit()  #commit the changes in myql database

#optional
#view the data
pj=pd.DataFrame(df)